

div.info_rating {
  display: flex;
  flex-direction: row;
  align-items: center;


  min-width: 100%;

  margin-left: -12px;
  margin-right: -12px;
  border-collapse: separate;
  border-spacing: 12px 0;

  margin-bottom: 8px!important;

  height: 32px;
}
/*
span {
  display: inline;
} */



/* Overview - Rating */

div.review_stars{
  box-sizing: border-box;
  display: inline-flex;
  border-collapse: collapse;
  border-spacing: 0;
}

div.review_stars_img{
  width: 176px !important;
  height: 32px;
  background-position: 0 -160px;
  /* I believe -160 for 3.5 star, -192 for 4 star */
  background-image: url(https://hungry-humans-overview.s3.us-east-2.amazonaws.com/review_stars.png);
  background-size: 176px 680px;
  display: inline-block;
  overflow: hidden;
}
/*
.review_stars {
  width: 176px;
  height: 32px;
  height: 680px;
  background-position: 0 -256px;
  background: url(https://s3-media0.fl.yelpcdn.com/assets/public/stars_v2.yelp_design_web.yji-52d3d7a328db670d4402843cbddeed89.png) no-repeat;
  background-size: 176px 680px;
  display: inline-block;
  vertical-align: middle;



  clip-path: inset(24% 0 72% 0);
  position: absolute;
} */

span.review_stars {
  display:inline;
}


div.review_counter.cell {
  border-collapse: collapse;
  border-spacing: 0;

  box-sizing: border-box;
  display: inline-flex;
  white-space: nowrap;
  width:fit-content;
}


p.review_counter {
  text-align: left;
  font-size: 16px;
  line-height: 22px;
  font-family: Open Sans, Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  white-space: nowrap;
  color: #757280;
}

div.review_detail {

  box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
    border-collapse: collapse;
    border-spacing: 0;
}

div.review_detail_button {
  border-collapse: collapse;
  border-spacing: 0;
  display: inline-block;
  position: relative;
}

.tertiary {
  color: #2b273c;
    background: #eeeeef;
    border: 1px solid #eeeeef;
    background-image: none;
    background-repeat: no-repeat;
    -webkit-transition: all .8s;
    transition: all .8s;
    -webkit-transition-property: background-image,background-color,background-position,background-size,border-color,box-shadow;
    transition-property: background-image,background-color,background-position,background-size,border-color,box-shadow;
    background-position: calc(var(--mousedown-x) - calc(var(--button-width, 100px) * 200)/2) calc(var(--mousedown-y) - calc(var(--button-width, 100px) * 200)/2);
    background-size: calc(var(--button-width, 100px) * 200) calc(var(--button-width, 100px) * 200);
}

.small {
  padding: 0 8px;
    height: 24px;
}

.tertiary.button {
  display: inline-block;
    vertical-align: middle;
    margin: 0;
    cursor: pointer;
    text-align: center;
    user-select: none;

    border-radius: 4px;


    /* --mousedown-x: 25px;
    --mousedown-y: 20.1719px;
    --button-width: 57.9375px; */
}



span{
  display: inline-flex;
  align-items : center;
  justify-content: center;
  /* vertical-align: middle; */
  /* height: inherit; */
}

.span_center{

  display: inline-flex;
  align-items : center;
  justify-content: center;
  vertical-align: middle;
}


p{
  text-align: left;
}

