

.service_types {
  display: inline;
  margin-right: 8px!important;
  vertical-align: middle;
}



span.service_type{
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
}


.biz_service{
  white-space: nowrap;
  text-decoration: none;
}

.biz_service_edit {
  margin-left: 10px;
  padding: 0 6px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 12px;
  line-height: 18px;
  color: #757280;
  background: transparent;
  box-shadow: none;
  transition: all .3s ease;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-decoration: none !important;
}

