.title_text {
  display: inline;
  font-size: 40px;
  line-height: 54px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 900;
}


.icon_claimed {
  fill: #0073bb;
  width: 18px;
  height: 18px;
  vertical-align: middle;
}


.info_claimed {
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  line-height: 20px;
}


.icon_svg{
  fill: inherit;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}