

.last_update_flex{
  margin-top: 4px!important;
  color: #0ab3c9;
  fill: #0ab3c9;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.flex_content{
  display: inline-flex;
  color: inherit;
  fill: currentColor;
  vertical-align: middle;
}

.p_flat {
  margin-top: inherit;
  margin-bottom: inherit;
}

.icon_svg{
  fill: inherit;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}